* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  display: none;
}

.container {
  width: 100%;
}

.bloc1,
.bloc2,
.bloc3 {
  display: none;
}

/* navigation */

@media (min-width: 1000px) {
  a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }

  nav {
    display: block;
    position: absolute;
    top: 15px;
    left: -50px;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    /* transition: all 1s; */
  }

  nav .menu,
  nav .contact {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
  }

  nav .menu {
    transform: rotate(-90deg) translateY(50px) translate(25px);
    transition: all 1s;
  }
  nav:hover .menu {
    transform: rotate(0deg) translateY(0) translateX(-20px);
  }

  nav .contact a {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: red;
  }
  nav .contact {
    position: absolute;
    transform: rotate(-90deg) translateX(100%);
    transition: all 1s;
  }
  nav:hover .contact {
    transform: rotate(0) translateX(55px) translateY(-100px);
  }

  /* container */

  .container {
    max-width: 900px;
    margin: auto;
  }

  header,
  main,
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px gray dashed;
    margin: 5px 0;
  }

  main {
    position: relative;
  }

  main img {
    width: 100%;
  }

  .bloc1,
  .bloc2,
  .bloc3 {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 2rem;
    position: absolute;
    width: 100%;
  }

  .bloc1 {
    top: 90px;
    height: 113px;
    opacity: 0;
    transition: all 800ms;
  }

  .bloc2 {
    top: 207px;
    height: 182px;
    opacity: 0;
    transition: all 800ms;
  }
  .bloc3 {
    top: 393px;
    height: 256px;
    opacity: 0;
    transition: all 800ms;
  }
  .bloc1 p,
  .bloc2 p,
  .bloc3 p {
    transform: scale(0.2);
    transition: all 1200ms;
  }

  .bloc1:hover,
  .bloc2:hover,
  .bloc3:hover {
    opacity: 1;
  }
  .bloc1:hover p,
  .bloc2:hover p,
  .bloc3:hover p {
    transform: scale(1);
  }

  form {
    display: none;
  }
}
